/* Table Style Grid */

#master-program-schedule {
	width: 100%;
}

#master-program-schedule th {
	width: 12%;
	text-align: center;
}

#master-program-schedule td {
	vertical-align: top;
	font-size: 12px;
	text-align: center;
	padding: 0px;
}

#master-program-schedule td {
	border: 1px solid black;
}

#master-program-schedule td div {
	border-top: 1px solid #dddddd;
}

#master-program-schedule .master-program-hour div {
	margin-top: -1em;
	padding-bottom: 1em;
}

#master-program-schedule span.show-title,
#master-program-schedule span.show-file,
#master-program-schedule span.show-time,
#master-program-schedule span.show-encore {
	display: block;
}

#master-program-schedule span.show-time {
	font-size: 10px;
}

#master-program-schedule span.show-encore {
	font-size: 10px;
	color: #EE8E66;
}

#master-program-schedule span.show-file {
	margin-bottom: 5px;
	margin-top: 5px;
}

#master-program-schedule span.show-file a {
	width: 95%;
	height: 20px;
	background-color: #931B25;
	padding: 3px;
	text-decoration: none;
	color: #ffffff;
	margin-bottom: 3px;
}

#master-program-schedule span.show-file a:hover {
	background-color: #C51D2E;
	color: #ffffff;
}

#master-genre-list {
	font-size: 10px;
}

#master-genre-list span.heading {
	font-weight: bold;
}

/* Div Style Grid */
#master-schedule-divs {
	width: 100%;
}

#master-schedule-divs .master-schedule-hour {
	width: 100%;
	clear: both;
}

#master-schedule-divs .master-schedule-hour-header {
	width: 12%;
	float: left;
	text-align: center;
	font-weight: bold;
	font-size: 0.7em;
}

#master-schedule-divs .master-schedule-weekday {
	width: 10%;
	float: left;
	border: 1px solid #dddddd;
}

#master-schedule-divs .master-schedule-weekday-header {
	text-align: center;
	font-weight: bold;
	font-size: 0.7em;
	display: block;
}

#master-schedule-divs .master-show-entry {
	padding: 8px 5px 5px 5px;
	position: relative;
}

#master-schedule-divs .show-dj-names,
#master-schedule-divs .show-time,
#master-schedule-divs .show-title {
	display: block;
	font-size: 0.6em;
	line-height: 1em;
}

#master-schedule-divs .show-image img {
	width: 100%;
	height: auto;	
}

#master-schedule-divs .rowspan {
	background-color: #dddddd;
    margin-left: -1px;
    position: absolute;
    width: 50px;
    z-index: 5;
}

