/* Widget layout */
.on-air-dj-avatar {
	float: left;
	padding-right: 15px;
	padding-bottom: 5px;
	display: block;
	width: 50px;
}

.on-air-dj-avatar img {
	width: 50px;
	height: 50px;
}

.on-air-list,
.widget .on-air-list,
.on-air-upcoming-list,
.widget .on-air-upcoming-list {
	list-style-type: none;
}

.on-air-list li,
.widget .on-air-list li,
.on-air-upcoming-list li,
.widget .on-air-upcoming-list li {
	font-size: 2em;
}

.on-air-dj-sched {
	font-size: .5em;
	font-style: italics;
}
.radio-clear {
	display: block;
	clear: both;
}

/* Schedule layout */
.on-air-dj-schedule-day-block {
	float: left;
	margin-right: 25px;
}

.on-air-dj-schedule-day-title {}
.on-air-dj-schedule-time-list {}
.on-air-dj-schedule-time-item {}
.on-air-dj-schedule-dj-list {}
.on-air-dj-schedule-dj-item {}
.on-air-no-dj { font-style: italics; }
.on-air-dj-schedule-dj-item {}
.scheduled-dj {}
